%h1 Titanic
%h2 Jack Dies in the End
%p
  This is a very long sentence
  so it goes over multiple
  lines.
%p#fun
  This is a fun ID!
%p.classy
  This p tag is very classy ... lol
%p#oh.really.yes
  This p tag has an id of oh and 2 classes.
#a_div
  This is a div with an id of div.
.classy_div
  This is one classy div.