extends ../template/layout

block content
  .row
    .large-8.small-12.columns
      h1.subheader Shell Game
    .large-4.small-12.columns
      include form
  div.hiddenName.hidden
    h2.subheader Player Name
    span.playerName

  .row
    .small-12.columns
      #stars

