@import url(http://fonts.googleapis.com/css?family=Istok+Web);

/*Page Styles*/
html, body {
  font-family: 'Istok Web', sans-serif;
  height: 100%;
}

/*Header styling*/
#logo img {
  width: 75px;
  height: 75px;
  padding: 10px;
  margin-left: 20px;
  float:left;
}

#tagline {
  color: white;
  font-style: italic;
  font-size: 25px;
  padding-top: 36px;
  margin-left: 200px;
  float: left;
}

#cart {
  color: white;
  font-size: 20px;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

#cart a {
  color: white;
}

#cart div {
  text-align: center;
}

#cart img {
  margin-top: 5px;
  /*float: right;*/
}

.clear {
  clear:both;
}

header {
  background-color: #003366;
  border-bottom: 1px solid #000099;
}

/*Navigation styling*/
nav {
  background: -webkit-linear-gradient(top, #3399FF, #003366);
  background: -moz-linear-gradient(top, #3399FF, #003366);
  font-size: 20px;
  text-transform: uppercase;
}

nav a:hover{
  text-decoration: underline;
}

nav ul > li {
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
}

nav ul > li a {
  text-decoration: none;
  color: white;
}

/*Main Section Styling on Home Page*/
section {
  width: 960px;
  margin: auto;
}

section h1 {
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
}

#vid-primary {
  margin: 50px 0 50px 100px;
}

.org {
  font-style: italic;
}

/*Styling on the About Page*/
h2.about-fact {
  font-size: 28px;
}

p {
  margin-bottom: 20px;
  margin-top: 20px;
}

/*The Products Page*/

.sub {
  text-align: center;
}

.products {
  text-align: center;
  width: 760px;
  margin-left: 100px;
}

.products img {
  vertical-align: middle;
}

.products h4 {
  font-size: 20px;
  float: left;
  vertical-align: middle;
}
 /*Product Page*/
.product-vid {
  margin-top: 20px;
  margin-left: 200px;
}

.productName h2 {
  font-size: 25px;
  margin-top: 10px;
}

.productPrice h2 {
  margin-top: 10px;
  font-size: 20px;
}

.button-cart {
  margin-top: 10px;
}

.specs {
  margin-bottom: 10px;
  font-size: 20px;
}

.specs tr td:nth-child(odd) {
  width: 25%;
}

/*FAQs*/
.faqs {
  margin-bottom: 189px;
}

.faqs h2 {
  font-size: 28px;
  margin-top: 10px;
}

.faqs em {
  font-style: italic;
  font-size: 20px;
}

/*Contact Us Page*/
.contact {
  text-align: center;
  font-size: 20px;
  margin-bottom: 301px;
}

/*Shopping Cart*/
.info {
  font-size: 35px;
  margin-top: 35px;
}

#customerName {
  font-size: 20px;
  margin-top: 20px;
}

#customerAddress {
  margin-top: 10px;
  margin-bottom: 20px;
}

.finance {
  margin-top: 10px;
  width: 100%;
}

.finance td:nth-child(even) {
  text-align: center;
}

.finance tr > td:last-child {
  text-align: right;
}

.finance tr > td {
  padding-bottom: 10px;
}

.finance tr:last-child {
  border-bottom: 1px solid black;
}

.totals {
  clear:both;
  float: right;
  width: 30%;
  margin-top: 10px;
  text-align: right;
}

.totals tr:last-child {
  font-size: 20px;
}

.totals tr > td {
  padding-bottom: 20px;
}

.ship {
  clear: both;
  float: right;
  padding: 20px;
  margin-bottom: 39px;
}

/*Footer Styling*/
footer {
  background-color: #CCCCCC;
  font-size: 20px;
  padding: 10px;
}

#cp {
  float: left;
  margin-left: 20px;
}

#footer-nav {
  float: right;
  margin-right: 20px;
}

#footer-nav a {
  color: #003366;
}