body, html {
  height: 100%;
}

#left, #right {
  float: left;
}

#left {
  width: 25%;
  height: 100%;
  border-right: 1px solid black;

  .row:nth-child(3) {
    border-bottom: 1px solid black;
  }
}

#right {
  width: 75%;
  height: 100%;
  overflow: auto;

  #products, #cart, #orders {
    width: 100%;

    tr {
      line-height: 30px;
      text-align: center;

      th {
        text-decoration: underline;
      }
    }
  }

  img {
    width: 50px;
    width: 50px;
  }

  .row:nth-child(3), .row:nth-child(5) {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }

  select {
    padding: 5px;
  }

  #purchase {
    margin-top: 17px;
  }
}

.hidden {
  display: none;
}

#cart tr td, #cart tr th{
  text-align: center;
}


#orders tr td, #orders tr th{
  text-align: center;
}

#orders ol{
  list-style-position:inside;
}
