#left
  .row
    .small-12.columns
      %h3 Add Product
  .row
    .small-12.columns
      %input#product-image.expand{type: 'text', placeholder: 'Enter image...'}
    .small-12.columns
      %input#product-name.expand{type: 'text', placeholder: 'Enter name...'}
    .small-12.columns
      %input#product-price.expand{type: 'text', placeholder: 'Enter price...'}
    .small-12.columns
      %input#product-off.expand{type: 'text', placeholder: 'Enter percent off...'}
    .small-12.columns
      %input#product-weight.expand{type: 'text', placeholder: 'Enter weight...'}
  .row
    .small-12.columns
      %input#add-product.button.success.small.radius.expand{type: 'button', value: 'Add Product'}
  .row
    .small-12.columns
      %h3 Add Customer
  .row
    .small-12.columns
      %input#customer-image.expand{type: 'text', placeholder: 'Enter image...'}
    .small-12.columns
      %input#customer-name.expand{type: 'text', placeholder: 'Enter name...'}
    .small-6.columns
      %input#domestic{type: 'radio', name: 'address'} Domestic
    .small-6.columns
      %input#international{type: 'radio', name: 'address'} International
  .row
    .small-12.columns
      %input#add-customer.button.success.small.radius.expand{type: 'button', value: 'Add Customer'}
#right
  .row
    .small-12.columns
      %h1 Product List
  .row
    .small-12.columns
      %table#products
        %tr.head
          %th Name
          %th Image
          %th Weight
          %th Price
          %th % Off
          %th Sale
  .row
    .small-2.columns
      #prev.hidden <==
    .small-2.columns
      #next.hidden ==>
  .row
    .small-4.columns
      %h2 Shopping Cart
    .small-2.columns
      %input#purchase.button.small.radius.expand{type: 'button', value: 'Purchase'}
  .row
    .small-3.columns
      %select#select-customer
    .small-9.columns
      %table#cart.hidden
        %thead
          %tr
            %th Name
            %th Count
            %th Amount
            %th Weight
            %th Shipping
            %th Total
        %tbody
        %tfoot
          %tr
            %td Totals
            %td.cart-count
            %td.cart-amount
            %td.cart-weight
            %td.cart-shipping
            %td.cart-total
  .row
    .small-4.columns
      %h2 Orders
  .row
    .small-12.columns
      %table#orders
        %thead
          %tr
            %th Id
            %th Time
            %th Customer
            %th Products
            %th Total
            %th Shipping
            %th Grand Total
        %tbody
        %tfoot


