#liquidate, #buy, #set_funds, #set_timer {
  width: 100%; }

#stocks {
  width: 100%;
  text-align: center; }

#list {
  padding-bottom: 5px;
  border-bottom: 2px solid black; }

.head {
  text-decoration: underline; }
