doctype 5
html
  head
    title CATS
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='background: url("http://www.colourbox.com/preview/2174602-820834-beautiful-background-with-black-cats-and-paws-pattern-vector-illustration.jpg") repeat')
    h1 MRRREEOOOWWW
    p Welcome to Cats