doctype 5
html
  head
    title DOGS
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='background: url("http://thumbs.dreamstime.com/z/pattern-dogs-birds-23291714.jpg") repeat')
    h1 WOOF
    p Welcome to Dogs