doctype 5
html
  head
    title Node Title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style='background-image: none')
    h1 Node Rocks!!
    p Welcome to Node
    a(title=cats href='/cats') Cats
    p
    a(title=dogs href='/dogs') Dogs