.row
  .small-3.columns
    %input#school{type: 'text'}
  .small-9.columns
    %input#add-school.button.small.radius{type: 'button', value: 'Add school'}
.row
  .small-2.columns
    %input#student{type: 'text'}
  .small-1.columns
    %input#gpa{type: 'text'}
  .small-3.columns
    %select#pick-school
      %option Select a school
  .small-6.columns
    %input#add-student.button.small.radius{type: 'button', value: 'Add student'}
.row
  .small-2.columns
    %input#subject{type: 'text'}
  .small-3.columns
    %select#pick-student
      %option Select a student
  .small-6.columns
    %input#add-subject.button.small.radius{type: 'button', value: 'Add subject'}