div.color-bar
  .row
    .small-4.columns
      .title MIX-MASTER
    .small-8.columns
      ul
        li: a(href='/') Home
        li: a(href='/songs') Songs
        li: a(href='/songs/new') New Song
        li: a(href='/artists') Artists
        li: a(href='/artists/new') New Artist
        li: a(href='/genres') Genres
        li: a(href='/genres/new') New Genre