#left
  #map-canvas
#right
  .row
    .small-12.columns
      %h3 Scavenger Hunt
  .row
    .small-12.columns
      %input#start.button.success.small.radius{type: 'button', value: 'Start'}
  .row
    .small-12.columns
      %input#stop.button.alert.small.radius{type: 'button', value: 'Stop'}
  .row
    .small-12.columns
      %input#secret{type: 'text', placeholder: 'Enter secret here...'}
  .row
    .small-12.columns
      %input#add.button.small.radius{type: 'button', value: 'Add'}

